body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: brown;
}

.inline-menu a{
    display: inline;
    background-color: lightseagreen;
    padding: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.block-menu a{
    display: block;
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}