body{
    background-color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: green;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    display: inline-block;
    margin-left: 5px;
}

.navbar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover{
    color:red;
}

.navbar a:visited{
    color:purple;
}