button{
    background-color: darkblue;
    color: white;
    padding:10px;
    border-radius: 15px;
    border-color: transparent;
    margin: 10px;
}

button:hover{
    background-color: blue;
}