.home {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.hero {
  position: relative;
  padding: 4rem 2rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  background:
    url('../assets/images/banner.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.hero-content p {
  font-size: 1.1rem;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
  color: #f0f0f0;
  margin-bottom: 1rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.why,
.top-depts,
.explore {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 1rem;
}

.btn {
  padding: 10px 18px;
  background: var(--primary);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: translateX(-2px);
  background: #084298;
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 30%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }
}
