body{
    font-family: sans-serif;
    margin: 0;
}

nav{
    background-color: #444;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:20px;
}

.list{
    color:white;
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
}

.list:hover{
    color:#ccc;
}



@media  (max-width : 1024px) and (min-width:768px) {
    nav{
        background-color: lightpink;
    }

    .list{
        color:black;
    }
}

@media (max-width : 768px) {
    nav ul{
        flex-direction: column;
        align-items: center;
    }
}

