body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.main{
    position: fixed;
    top:0;
    width: 100%;
    background-color: lightcoral;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin:10px;
    font-weight: bold;
    cursor: pointer;
}

.navbar a:hover{
    color: lightgreen;
}
