body{
    background-color:#f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.container div{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 18px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto ;
    height:100vh;
    gap : 10px

}

.header{
    grid-column: 1/4;
    background-color: lightpink;
    padding: 20px;
}

.sidebar{
    background-color: #ddd;
}

.main{
    background: lightcyan;
}

.widget{
    background-color: lightgoldenrodyellow;
}

.footer{
    grid-column: 1/4;
    background-color: lightgreen;
    padding: 20px;
}