body {
  background-color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h1 {
  color: green;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:768px) and (min-width : 480px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 480px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
