body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 20px;
}

.gallery a img{
    height:300px;
    width:350px;
    object-fit: cover;
    border-radius: 10px;
}