.dept-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: var(--card);
   box-shadow: 2px 2px 10px #333;
  transition: 0.3s;
}

.dept-card:hover {
  transform: translateY(-5px);
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  background: var(--primary);
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}
