.footer {
  width: 100%;
  background: var(--card);
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  margin-top: 2rem;
  padding: 2rem 0 1rem 0;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 20px;
}


.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--primary);
}

.footer-section p,
.footer-section li {
  color: var(--muted);
  font-size: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  color: var(--muted);
  transition: 0.3s;
}

.footer-section a:hover {
  color: var(--primary);
}


.footer-bottom {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 14px;
  color: var(--muted);
}

@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .footer-section h3 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section li {
    font-size: 14px;
  }
}
